#divHeader{
	background-color:green; 
	
	position:relative;
	 
	border: 5px solid gray;
}
#divGame{
	background-color:white;
	 
	position:relative;
	
	border: 5px solid gray;
	
	height: 500px;
	
	margin:auto;
	
	text-align: center;
}
#divMenu{
	background-color:white;
	 
	position:relative;
	
	border: 5px solid gray;
	
	height: 500px;
	
	margin:auto;
	
	text-align: center;
}
#divPlayerDisplay{
	background-color: #00e600;
	border: 5px solid white;
	
	position:absolute;
	
	font-size:26px;
	
	width:70%;
	height:15%;
	
	text-align: center;
	
}
#divGameScreen{
	background-color: #00e600;
	border: 5px solid white;
	
	position:absolute;
	bottom:0;
	
	
	width:70%;
	height:83%;
	
	margin: auto;
	text-align: center;
	
}
#divScoreBoard{
	border: 5px solid white;
	position:absolute;
	width:29%; 
	height:98%;
	right:0px; 
	background-color:	#00e600;
	margin: auto;
	text-align: center;	
}
#divBottom{
	position:absolute;
	bottom:5px;
}
#bottomList{
	position: absolute;
    top: 30%;
    z-index: 2;
    width:400px;
    margin-left:-200px;
    left:50%;
}
#standardBtn{
	width:150px;
	height:45px;
	position:relative;	
	border: 3px solid white;
	font-size:16px;
	font-family: courier;
}
#yatzy{
	border: 1px solid black;
	border-collapse: collapse;
}
div.dice{

	float:left;
	
	height:30px;
	width:30px;
	
	border:16px solid 	#00e600;
	
	background-color:white;
	border-radius:25px;
	text-align:center;
	padding:30px;
	font-size:32px;
	
	display:inline-block;
}
div.dice:focus{
	outline: 1px solid blue;
	
}
